.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}

.switchers {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

.langSwitcher {
  margin-left: 20px;
  margin-right: 20px;
}

.collapsedBtn {
  position: absolute;
  right: -40px;
  bottom: 40px;
  z-index: 5;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
}

.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.icon {
  fill: var(--inverted-primary-color);
  margin-right: 10px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
  .switchers {
    flex-direction: column;
    align-items: center;
  }
  .langSwitcher {
    margin-left: 0;
    margin-right: 0;
  }
  .link {
    width: 0;
    opacity: 0;
    transition: 0.2s opacity;
  }
}
