.item {
  display: flex;
  align-items: center;
}
.icon {
  fill: var(--inverted-primary-color);
  margin-right: 10px;
}

.collapsed {
  .link {
    width: 0;
    opacity: 0;
    transition: 0.2s opacity;
  }
}